<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AniView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <AniView.Properties.Settings>
            <setting name="VisualStyle" serializeAs="String">
                <value>Metro</value>
            </setting>
            <setting name="MetroColor" serializeAs="String">
                <value>#FF07779C</value>
            </setting>
            <setting name="BorderThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatBehaviour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>Png</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DragDrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArrowKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSizeWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFileTitle" serializeAs="String">
                <value>True</value>
            </setting>
        </AniView.Properties.Settings>
    </userSettings>
</configuration>